input {
    height: 200px;
    width: 400px;
    border: 3px solid gray;
    border-radius: 200px;
    appearance: none;
    position: relative;
    background-color: lightgray;
    transition: 0.5s;
}

input::before {
    content: "";
    height: 165px;
    width: 165px;
    border-radius: 50%;
    background-color: gray;
    position: absolute;
    top: 15px;
    left: 16px;
    transition: 0.5s;
}

input:checked::before {
    transform: translateX(198px);
    transition: 0.5s;
    background-color: green;
}

input:checked {
    background-color: lightgreen;
    transition: 0.5s;
    border-color: green;
}

main {
    text-align: center;
    margin-top: 30vh;
}