input {
    height: 200px;
    width: 400px;
    border: 3px solid gray;
    border-radius: 100px;
    appearance: none;
    position: relative;
    background-color: lightgray;
    transition: 0.5s;
}

input::before {
    content: "";
    height: 175px;
    width: 175px;
    border-radius: 50%;
    background-color: gray;
    position: absolute;
    top: 10px;
    left: 10px;
    transition: 0.5s;
}

input:checked::before {
    transform: translateX(200px);
    transition: 0.5s;
    background-color: green;
}

input:checked {
    background-color: lightgreen;
    transition: 0.5s;
    border-color: green;
}